.add-room-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  max-width: 450px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.available-rooms {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 20px; /* Gap between the cards */
  padding: 20px; /* Optional: to add some padding around the grid */
}

.room-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.add-room-title,
.available-rooms-title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.add-room-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.add-room-input {
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-bottom: 12px;
  font-size: 15px;
}

.add-room-button {
  background-color: #28a745;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-room-button:hover {
  background-color: #218838;
}
.room-photos img {
  width: 100%;
  height: 200px;
  object-fit: cover; /* The image will cover the space, possibly cropping some parts */
  border-radius: 5px;
}
